* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.75s ease;
}

a:hover {
    color: cyan;
}

body {
    background-color: black;
    color: white;
    font-family: "Work Sans", sans-serif, serif;
}
/*
#wrapper {
}
*/
header {
    display: flex;
    margin: 1rem;
    justify-content:space-between;
    align-items: center;
}


#logo {
    display: flex;
    width: 15%;
    min-width: 40px;
}

.header-nav {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.header-nav a {
    white-space: nowrap;
    font-weight: bold;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.footer-nav {
    display: flex;
    gap: 3rem;
}

.social {
    display: flex;
    gap: 1rem;
}